@import url('https://fonts.googleapis.com/css?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Azeret+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almarai&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap'); /* title */
@import url('https://fonts.googleapis.com/css?family=Playfair Display SC&display=swap'); /* for serif */
@import url('https://fonts.googleapis.com/css?family=Plus Jakarta Sans&display=swap'); /* for paragraph */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap'); /* for paragraph backup */
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

h1 { font-family: 'Albert Sans'; font-size: min(max(42px, 9.5vw), 84px); font-weight:lighter; line-height:1.16;}

h2 {
    font-family: 'Albert Sans'; 
}

/* dm sans for title
raleway for p
*/
h5{font-family: 'Albert Sans'; font-size: min(max(12px, 2.2vw), 22px); font-weight:500;}

p { 
    font-family: 'Albert Sans';
	line-height:1; 
	font-size: min(max(12px, 2.2vw), 22px);
	font-weight: 400;

}

a {
  color:#000000;
  text-decoration: none;
  font-family:'Albert Sans';
  font-size: min(max(12px, 2.2vw), 22px);
}

a:hover{
  color: #7c7c7c;
}

body {margin: 50px; font-size: min(max(12px, 2.2vw), 22px);}

.sidenav {
	height: 100%;
	width: 33%;
	max-width:420px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	padding-top: 0px;
	outline-style: solid;
	outline-width: 1px;
	font-family: 'Albert Sans';
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2.2vw;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #7c7c7c;
  }
  
  .main {
	margin-top: 10%;
	margin-left: 36%; /* Same as the width of the sidenav */
	font-size: 2.2vw;
	

  }

.dropdown {
  position: relative;
  font-size: 2.2vw;  
  
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 2.2vw;
  background-color: white;
  min-width:120px;
  z-index:1;
  margin-left:15px;
}

.dropdown:hover .dropdown-content {display: block; font-size: 2.2vw;}

button {
    color: white;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 14px 28px; 
    font-size: 2.2vw;
    font-family: Albert Sans;
    cursor: pointer;
}

.arrow {
    color: black;
    background: transparent;
    border-color: white;
    border: 0px solid black;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
}

.arrow:hover {
    background-color: black;
    color: white;
}

.loveletter {
    background: oldlace;
    border-color: black;
    padding: 5px 10px;
    cursor: pointer;
    /* border-radius: 5px; */
}

.loveletter:hover {
    background-color: mistyrose;
    color: white;
}

.gohome {
    color: black;
    padding: 5px 10px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.column {
    float: left;
    padding: 10px;
    font-family: 'Albert Sans'; 
    font-size: 12px;
    text-align: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
  }
* {
  box-sizing: border-box;
}

body {
  font-family:'Albert Sans';
  padding: 20px;
  background: white;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: "white";
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}